{% extends 'base.html' %}

{% block content %}
<div class="container">
    <h2>{% if form.instance.pk %}Edit Salary{% else %}Add New Salary{% endif %}</h2>
    <form method="post">
        {% csrf_token %}
        <div class="form-group">
            <label for="id_staff">Staff</label>
            {{ form.staff }}
        </div>
        <div class="form-group">
            <label for="id_staff">Academic Session</label>
            {{ form.session }}
        </div>
        <div class="form-group">
            <label for="id_year">Year</label>
            {{ form.year }}
        </div>
        <div class="form-group">
            <label for="id_month">Month</label>
            {{ form.month }}
        </div>
        <div class="form-group">
            <label for="id_amount_paid">Amount Paid</label>
            {{ form.amount_paid }}
        </div>
        <div class="form-group">
            <label for="id_deductions">Deductions</label>
            {{ form.deductions }}
        </div>
        <div class="form-group">
            <label for="id_comments">Comments</label>
            {{ form.comments }}
        </div>
        <button type="submit" class="btn btn-primary">Save</button>
        <a href="{% url 'salaries-list' %}" class="btn btn-secondary">Cancel</a>
    </form>
</div>
{% endblock %}
